{% extends 'listings/base.html' %}

{% block content %}

<h1>article</h1>

<a href="{% url 'article-create' %}">Créer un nouveau article</a>

<ul>
    {% for article in articles %}
        <li><a href="{% url 'article-detail' article.id %}">{{article.title}}</a> -
              {{article.date}} - 
              {{article.types}} - 
              {{article.description}} - 
              {{article.sold}}
            - <a href="{% url 'article-update' article.id %}">[Modifier]</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}
